h1,h3
{
    font-size: 40px;
    color: black;
    font-family:'Caveat',cursive;
    font-style: italic;
    font-weight: 500;
    font-variant: normal;
    font-stretch: semi-condensed;
    text-align: center;
}
h2
{
    font-size: 30px;
    color: black;
    font-family:'Caveat',cursive;
    font-style: italic;
    font-weight: 500;
    font-variant: normal;
    font-stretch: semi-condensed;
    text-align: left;
}