h1,h3
{
    font-size: 40px;
    color: black;
    font-family:'URW Chancery L',cursive;
    font-style: italic;
    font-weight: 500;
    font-variant: normal;
    font-stretch: semi-condensed;
    text-align: center;
}
h2
{
    font-size: 30px;
    font-family:'URW Chancery L',cursive;
    font-style: italic;
    font-weight: 500;
    font-variant: normal;
    font-stretch: semi-condensed;
    text-align: left;
    color: black;
}
h4
{
    font-size: 25px;
    font-family:'URW Chancery L';
    font-style: italic;
    font-weight: bold;
    font-variant: normal;
    font-stretch: semi-condensed;
    text-align: center;
    color: rgba(17, 37, 221, 0.822);
}