.menu
{
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'URW Chancery L', cursive;
    font-weight: bold;
    align-items: center;
}
.menu a
{
    background-color: #fff;
    border: 1px solid;
    border-radius: 12px;
    text-align: center;
}
.menu a, a + a{
    padding: 18px 15px;
    margin: 10px;
}

.menu a:hover{
    background-color: rgb(27, 27, 27);
    color: white;
    transition: .5s ease-out;
    transition-delay: 0.1s;
}

.active{
    background-color: rgb(27, 27, 27);
    color: white;
}