body{
    background-color: #e8bfad;
    text-decoration: none;
    text-decoration: rgba(133, 102, 55, 0.897);
    color: black;
    font-size: 20px;
    line-height: normal;
    background-position: top center;
}
.logotype
{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
.lg
{  
    height: 90px;
    width: 90px;
    vertical-align: baseline;
    position: relative;
}
.cont
{
    padding: top 2px;
    padding:  bottom 2px;
    padding: right 1px;
    padding: left 1px;
}
.fon
{
    background-image: url(images\панорама.png);
    justify-content: center;
    display: flex;
    width:100%
}
.info1
{
    background-color: none;
    color: black;
    font-size: 16px;
    padding: top 2px;
    padding: bottom 2px;
    padding: right 1px;
    padding: left 1px;
    display: flex;
    justify-content:space-between;
}
.info
{
    background-color: none;
    color: black;
    font-size: 16px;
    padding: top 2px;
    padding: bottom 2px;
    padding: right 1px;
    padding: left 1px;
    min-height: 100vh;
    min-block-size: 70px;
    
}
hr
{
    border: 2px solid black;
    width:100%;
    size:400px;
}
.header
{    
    margin: 0.1em;
}
.text-menu
{
    display: flex;
    justify-content: space-between;
    font-family: 'URW Chancery L', cursive;
    font-weight: bold;
    margin: 20px 0;
    align-items: center;
}
.Gala
{
    display: flex;
    padding: 100px 0;
    width: 100%;
}
.comp
{    
    justify-content: center;
}
.header
{
    padding-top: 10px;
    letter-spacing: -1px;
}