p
{
    font-size: 20px;
}
body
{
    background-color: #FFE4C4;
    text-decoration: none;
    text-decoration: rgba(133, 102, 55, 0.897);;
    color: black;
}
table
{
    background-color: #FFCC99;    
    color: black;
    border-collapse:collapse; 
    border: 3px solid black;
    font-family:URW Chancery L, cursive;
    vertical-align: middle;
    text-align: center;
    width: 1400px;
}
.table1,.table2
{
    background-color: #FFCC99;    
    color: black;
    border-collapse:collapse; 
    border: 3px solid black;
    font-family:URW Chancery L, cursive;
    vertical-align: middle;
    text-align: center;
    width:100%;
}
.table3
{
    padding: 15px;
}
th,td
{
    border: 2px solid black;
    font-family:URW Chancery L, cursive;
}
a
{
   color:black;
   font-family:URW Chancery L, cursive;
}
a:visited
{
   color:black;
   font-family:URW Chancery L, cursive;
}
a:active
{
   color:black;
   font-family:URW Chancery L, cursive;
}
hr
{
    border: 2px solid black;
    width:100%;
    size:400px;
    
}
h1
{
    font-family:cursive;
    font-style: italic;
    font-weight: 500;
    font-variant: normal;
    font-stretch: semi-condensed;
    text-align: center;
}
h2
{
    font-family:cursive;
    font-style: italic;
    font-weight: 500;
    font-variant: normal;
    font-stretch: semi-condensed;
    text-align: left;
}
span
{
    font-family:cursive;
    font-style: italic;
    font-weight: 500;
    font-variant: normal;
    font-stretch: semi-condensed;
    text-align: right;
}

.logo
{
    height: 90px;
    width: 90px;
    display: block;
    margin-left: left;
    margin-right: left;
}