span
{
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 0.1em;
}
#test1
{
    font-size: 20px;
    letter-spacing: -1px;
    color: crimson;
}
#vs,#vd,#hb1,#hb2,#hb3
{
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -1px;
}
#lg
{
    font-size: 25px;
    color: black;
}
#lg::first-letter {
    font-size: 25px;
    color: black;
}
p, a, ul li, ol{
    font-size: 17px;
     color: rgb(27, 27, 27);
     font-weight: bold;
     letter-spacing: -1px;
     font-family: 'URW Chancery L', cursive;
}
p::first-letter {
    font-size: 18px;
    color: rgb(0, 76, 255);
}
ul li{
    font-size: 16px;
    font-weight: normal;
}
ol li{
    font-size: 16px;
    font-weight: normal;
}
.sp_body, .sp_links { width: 230px; text-align: center; }
.sp_body { display: none; font-style: italic; }
.sp_links { cursor: pointer; font-weight: bold; text-decoration: underline;
 color: #0000FF; margin: 5px; border: 1px solid #808080; border-radius: 7px; }
.closed {display:none;}
.opened {display:block;}

